# <string>
WALLET_NAME: 'username'

# <string>
PASSWORD: 'password'

# <list> 11 words
MY_WORDS: ['example', ... ,'example']

# <string> path
KEPLR: 'C:\Users\User\Downloads\dmkamcknogkgcdfhhbddcghachkejeap.crx'

# <int> 1-12, default=1
CURRENT_POSITION: 1